
html, body {
    margin: 0;
    padding: 0;
}

.hidden {
  display: none;
}

@-webkit-keyframes pulse {
 0% {
 -webkit-transform: scale(1, 1);
}
 50% {
 -webkit-transform: scale(1.05, 1.05);
}
 100% {
 -webkit-transform: scale(1, 1);
};
}

#temperature {
-webkit-animation: pulse 1s linear infinite;
}

#page-container {
    width: auto;
    margin: auto;
}

#header {
  background: black;
  height: 100px;
}

#title-bar {
  margin: 0;
  padding: 25px;
  color: white;
  text-align: right;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#sidebar-a {
  float: right;
  width: 280px;
  background: white;
  height: 400px;
}

.vert-text {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  /*text-align: right;*/
  font-size: 70px;

	transform: rotate(90deg) translateY(95px) translateX(120px);
}

#content {
  background: white;
  margin-right: 280px;
  height: 400px;
}

.temp {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 120px;
  float: right;
  text-align: right;
}

button {
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 100px;
  padding: 10px;
  border: none;
  background: none;
  outline: 0;
  float: right;
}

button:active {
  vertical-align: top;
  padding: 8px 13px 6px;
}

.plus {
  position: absolute;
  /*position: relative;*/
  top: 172px;
  right: 480px;
}

.minus {
  position: absolute;
  /*position: relative;*/
  top: 250px;
  right: 485px;
}

.reset {
  position: absolute;
  top: 400px;
  right: 495px;
  font-size: 50px;
}

.psm {
  position: absolute;
  /*position: relative;*/
  top: 350px;
  right: 495px;
  font-size: 50px;
  color: green;
}

#footer {
  background: black;
  height: 50px;
  clear: both;

}
