body{
  background-color: #2c2e38;
}

.headding {
  text-align: center;
  color: #d7ceb2;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  font: 80px 'BazarMedium';
  letter-spacing: 10px;
  text-decoration: none;
}

.powersavebutton {
  background-color: #4D6938; /* Green */
  border: none;
  color: #d7ceb2;
  padding: 15px 32px;
  text-align: center;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.reset-button {
  background-color: #5C1B0C; /* Green */
  border: none;
  color: #d7ceb2;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  width: 100%
  height:100%;
  padding-bottom: 100%
  overflow:hidden;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
}

.burning {
  text-align: center;
	color: #fff;
	text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;
	font: 80px 'BlackJackRegular';
}

.round-button {
    width:5%;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
   border-radius: 50%;
    border:2px solid #BA962B ;
   overflow:hidden;

   background: #5C1A06 ;
   box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background:#30588e ;
}
.round-button a {
   display:block;
    float:left;
    width:100%;
    padding-top:50%;
   padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#e2eaf3 ;
   font-family:Verdana;
   font-size:0.6em;
   text-decoration:none;
}
