body{
  background-color: #2c2e38;
}

ul {
  list-style: none;
}

li {
    display: inline;
}

.headding {
  text-align: center;
  color: #d7ceb2;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  font: 80px 'BazarMedium';
  letter-spacing: 10px;
  text-decoration: none;
}

 #thermostat_body {
  width: 700px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #473D3B;
  border: 2px solid #d7ceb2;
  border-radius: 25px;
 }

 #temperature {
  text-align: center;
  padding-top: 65px;
 }

#screen {
  margin-top: 40px;
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: #7A7574;*/
  border: 2px solid #d7ceb2;
  border-radius: 25px;
}

#buttons {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width:610px;
}

#notification {
  width: 12px;
  height: 12px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  margin-left: 10px;
}

.control_button {
  background-color: #4D6938;
  border: none;
  color: #d7ceb2;
  padding: 15px 32px;
  text-align: center;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.burning {
  text-align: center;
	color: #fff;
	text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;
	font: 80px 'BlackJackRegular';
}

.low {
  background-color: green;
}
.medium {
  background-color: yellow;
}
.high {
  background-color: red;
}
